<table class="table">
  <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Sex</th>
      <th scope="col">Prefered Sex</th>
    </tr>
  </thead>
  <tbody>
        <tr>
            <td><%= @searched_user.name%></td>
            <td><%= @searched_user.email %></td>
            <td><%= @searched_user.sex %></td> 
            <td><%= @searched_user.pref_sex %></td>
        </tr>
  </tbody>
</table>