<h1>Editing test post</h1>

<%= render "form", test_post: @test_post %>

<br>

<div>
  <%= link_to "Show this test post", @test_post %> |
  <%= link_to "Back to test posts", test_posts_path %>
</div>
